@charset "UTF-8";
#goto_top {
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 0;
}

#goto_top a {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: #f86560;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  font-weight: bold;
  z-index: 9991;
}       
